{% extends 'catalog/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Пароль успешно изменен</h1>
</div>

<div class="container-fluid">
    <div class="row text-start">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Вы можете войти под своей почтой и новым паролем</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}