{% extends 'catalog/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Тут можно посмотреть, что пишут про Skystore и создать свой отзыв о нём</p>
</div>
<nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="/create_blog/">Написать блог</a>
</nav>
<br />

<div class="row col-md">
    {% for object in object_list %}
    <div class="col-1"></div>

        <div class="col-5">
            <div class="container-fluid">
                <div class="row text-center">
                    {% include 'catalog/includes/inc_blog.html'|slice:":100" %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
