{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Товар категории {{ object.category }} сделает ваш бизнес более успешным</p>
</div>
<div class="container">
    <div class="row text-center">
        {% include 'catalog/includes/inc_prod.html' %}
        <div class="col-3">
            <div style="text-align: right;">
                <img src="{{ object.photo | mymedia }}" class="img-thumbnail" alt="Responsive image">
            </div>
        </div>
    </div>
</div>



{% endblock %}
